.body-app {
  background-color: #7192de;
}

.skin-nav {
  background-color: #4D524B;
}

.skin-logo {
  background-color: #3F423D;
}

.login-name {
  color: #fff;
}

.collapse-button {
  background-color: #fff;
  color: #fff;
}

.main-sidebar {
  background-color: #3F423D;
}

.white-text {
  color: #fff;
}
